.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  margin-bottom: 2rem;
  opacity: 0.8;
}
